@font-face {
    font-family: "Roboto";
    src: url("../Reference/fonts/Roboto-Black.ttf") format('truetype');
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: "Raleway";
    src: url("../Reference/fonts/Raleway-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: "Raleway";
    src: url("../Reference/fonts/Raleway-Black.ttf") format('truetype');
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: "Roboto";
    src: url("../Reference/fonts/Roboto-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family:"Roboto";
    src: url("../Reference/fonts/Roboto-Light.ttf") format('truetype');
    font-style: normal;
    font-weight:100;
}
