* {
    transition: .2s all;
}

body {
    background: url("../Reference/img/bg-about.png") repeat center top/cover;
}

a {
    text-decoration: none;
    color: #ff5e01;
}

a:hover {
    text-decoration: none;
    color: #333;
}

.orange {
    color: #ff5e01;
    text-shadow: 0 0 2px #000000;
}

.white {
    color: #ffffff !important;
    border-color: #fff !important;
}

.beta {
    font-size: 0.55em;
    position: absolute;
    bottom: 2em;
}

.form-control{
    margin: 1em 0;
}

/*section*/
section {
    padding: 8em 0;
}

.section-title {
    padding: .5em 0;
    border-top: .1em solid #333;
    border-bottom: .1em solid #333;
    margin: 1em 0;
    text-align: center;
}

.section-description {
    text-align: justify;
    font-size: 1.3em;
    padding: 1em 0;
}

.section-subtitle {
    padding: .3em 0;
}

/*form-units*/
.btn-ops {
    text-decoration: none;
    outline: none;
    display: inline-block;
    width: 10em;
    padding: 1em 0;
    position: relative;
    margin: 1em 0;
    overflow: hidden;
    border: 2px solid #ff5e01;
    border-radius: 0;
    color: #ff5e01;
    transition: .2s ease-in-out;
}

.btn-ops:before {
    content: "";
    background: linear-gradient(90deg, rgba(255,255,255,.1), rgba(255,255,255,.5));
    height: 5em;
    width: 50px;
    position: absolute;
    top: -8px;
    left: -75px;
    transform: skewX(-45deg);
}

.btn-ops:hover {
    background: #ff5e01;
    border-color: #ff5e01;
    color: #fff;
}

.btn-ops:hover:before {
    left: 150px;
    transition: .5s ease-in-out;
}

.select-ops{
    border:none;
    color:#ff5e01;
    background-color: rgba(0,0,0,0);
}
.input-ops{

}

/*preloader*/
.preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 10000;
    transition: 1s all;
    opacity: 1;
    visibility: visible;
}

.preloader .loader {
    width: 75px;
    height: 75px;
    border: 10px solid #000;
    border-radius: 50%;
    border-top-color:#ff5e01;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    animation: .8s spin infinite linear;
}

.preloader-done {
    opacity: 0;
    visibility: hidden;
}

@keyframes spin {
    from {
        transform: translate(-50%,-50%) rotate(0deg);
    }

    to {
        transform: translate(-50%,-50%) rotate(360deg);
    }
}


/*Layout*/
nav {
    line-height: 10em;
}
nav a {
     color: #fff;
}

nav a:hover {
    color: #ff5e01;
}

nav a.dropdown-item {
    line-height: 4em;
}

.whiteNav {
    line-height: 4em;
    background-color: #fff;
    box-shadow: 0 2px .5em rgba(0,0,0,.8);
}

.whiteNav a {
    color: #ff5e01;
}

.whiteNav a:hover {
    color: #000000;
}

.dropdown-item:hover {
    background-color: #ff5e01;
    color: #ffffff !important;
}

nav .row {
    width: 100%;
}

nav ul li {
    margin: auto;
}

.navbar-brand {
    margin: 0;
    padding: 0;
}

.right-bar {
    position: absolute;
    right: 3em;
}

.vLine {
    padding-left: 0;
    margin-top: 7px;
}

main {
}

/*index*/
.header-index {
    background: url("../Reference/img/about-header.jpeg") no-repeat center top/cover;
    height: 100vh;
    background-attachment: fixed;
    color: #fff;
}

    .header-index a {
        color: #ffffff;
    }

        .header-index a:hover {
            color: #ff5e01;
        }

.wrapper-dark {
    height: 100%;
    background-color: rgba(0,0,0,.5);
}

.title-index {
    width: 100%;
    padding: 20% 30%;
}

    .title-index i {
        font-size: 2em;
    }

#simplex {
    background: url("../Reference/img/login.jpeg") no-repeat center top/cover;
    background-attachment: fixed;
}

#genetic {
    background: url("../Reference/img/login.jpeg") no-repeat center top/cover;
    background-attachment: fixed;
}

.method-description {
    padding: 2em;
    margin: 2em 0;
    background-color: #fff;
    box-shadow: 0 0 1em #ff5e01;
}

/*Simplex*/
.header-simplex{
    height: 100vh;
    padding: 10% 0;
}
table input{
    border: none;
    width: 100px;
    height: 50px;
}


/*Genetic*/
.header-genetic{
    height: 100vh;
    padding: 5% 0;
}
.genetic-settings{
    padding: 0 13em;
}

.lds-ellipsis {
    position: relative;
    width: 64px;
    height: 64px;
    margin: auto;
}

.lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #ff5e01;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(19px, 0);
    }
}



/*Account*/

.logreg{
}
.logreg .row{
    height: 100vh;
}
.login-info-side{
    background: url("/Reference/img/login.jpeg") no-repeat center top/cover;
    padding: 0;
}
.login-info-side .wrapper-dark{
    padding: 10% 10%;
    color: #fff;
}
.logreg .wrapper-dark .section-title{
    color: #fff;
    border-color: #fff;
}
.login-form-side{
    padding: 10%;
}
.active{
    border-bottom: 2px solid;
}
.logreg form input{
    margin: 1em 0;
}
.logreg form button{
    display: block;
    margin: auto;
}